{% extends "core/base.html"%}

{% block content %}
<h2>{{ article_questions.0.article.title }}</h2>

<form method="POST">
	{% csrf_token %}
	{% for data in article_questions %}
		<div class="question">
			<p>{{ data.question }}</p>
			<textarea class="form-control" name="answer_{{ data.id }}">{{ data.answer }}</textarea>
			<input type="hidden" name="question_id_{{ data.id }}" value="{{ data.id }}">
		</div>
	{% endfor %}
	<button type="submit" class="btn btn-primary">Submit</button>
</form>


{% if article_questions.0.article.file_absolute_url %}
    <iframe src="https://docs.google.com/gview?url={{ article_questions.0.article.file_absolute_url }}&embedded=true"
            width="100%" height="500px"></iframe>
{% else %}
    <p>No file available.</p>
{% endif %}

{% endblock %} 
